<ActionBar title="Çalışma Saatleri" class="action-label">
  <NavigationButton text="Geri" android.systemIcon="ic_menu_back" (tap)="goBack()">
  </NavigationButton>
</ActionBar>

<ScrollView style="background-color:gainsboro;">
  <FlexboxLayout flexDirection="column" alignItems="center">
    <Image src="~/images/istanbul.png" style="width: 1200px; height: 700px;" stretch="aspectFit"></Image>
    <Label style="text-align: center; padding-top: 15px; font-weight: bold; font-size: 18px; color: crimson;" text="İSTANBUL ECZANELERİ ÇALIŞMA SAATLERİ"> </Label>
   <Label style="font-size: 14px" textWrap="true" text="   İstanbul'da eczanelerin çalışma saatleri pazar günü hariç 09.00-18.00 olarak belirlendi.
   İstanbul Valisi Ali Yerlikaya, Twitter hesabından yaptığı paylaşımda, Kovid-19 pandemisi izolasyon önlemleri kapsamında, eczacılarımızdan gelen talepler üzerine, ilimizde faaliyet göstermekte olan serbest eczanelerin çalışma saatleri pazar günleri hariç 09.00-18.00 saatleri arası olarak belirlenmiştir. ifadelerini kullandı."
    ></Label>

    <Image src="~/images/ankara.png" style="width: 1200px; height: 700px;margin-top: 20px;" stretch="aspectFit"></Image>
    <Label style="text-align: center; padding-top: 15px; font-weight: bold; font-size: 18px; color: green;" text="ANKARA ECZANELERİ ÇALIŞMA SAATLERİ"> </Label>
    <Label style="font-size: 14px"  textWrap="true" text="  Ankara Eczacı Odası Yönetim Kurulu Başkanı Taner Ercanlı, Yeni eczane çalışma saatlerimiz, cumartesi günleri de dahil olmak üzere 10.00-18.00 arasını kapsamaktadır. dedi.
    Taner Ercanlı, eczanelerin cumartesi günleri dahil 10.00-18.00 saatlerinde hizmet vereceklerini hatırlatarak Bu saatler dışında nöbetçi eczaneler görevleri başında olacaktır. ifadelerini kullandı.
    Ercanlı, eczanelerin çalışma saatlerine ilişkin yazılı açıklama yaptı. Eczanelerin birinci basamak sağlık hizmeti sunucusu özelliğiyle vatandaşların doğrudan ulaştıkları sağlık kuruluşları olduğunu aktaran Ercanlı, Kovid-19 pandemisinin Türkiye'de görülmesiyle birlikte sağlık ordusu içinde yer alan eczacıların salgınla mücadelede büyük görevler üstlendiğini vurguladı."
     ></Label>

       <Image src="~/images/genel.png" style="width: 1200px; height: 700px;margin-top: 20px" stretch="aspectFit"></Image>
    <Label  style="text-align: center; padding-top: 15px; font-weight: bold; font-size: 18px; color: blueviolet;" text="TÜRKİYE GENELİ ECZANE ÇALIŞMA SAATLERİ"> </Label>
    <Label style="font-size: 14px"  textWrap="true" text=" Eczanelerin hafta içi mesai saatleri 08:30 – 19:00 saatleri arasındadır. Öğle yemeği molaları yoktur. Cumartesi günleri ise 09:00 ile 13:00 saatleri arası çalışmaktadırlar. Pazar günleri eczaneler açık olmaz. Bu durumlarda ilaç ihtiyacı olan vatandaşlar bölgelerindeki nöbetçi eczaneler vasıtası ile hizmet alabilir
    Eczaneler ile ilgili en çok merak edilen konular arasında hafta içi/hafta sonu mesai saatleri bulunuyor. Eczaneler 08:30 - 19:00 / 09:00 - 13:00 saatleri arasında hizmet vermektedir."
     ></Label>
</FlexboxLayout>
</ScrollView>
